@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(21, 22, 22);
    
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.upper_nav{
    background-color: rgb(40, 41, 40);
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.upper_nav h3 a{
    color: rgb(211, 206, 206);
    font-weight: 300;
    font-size: 1rem;
}
.upper_nav div{
    margin: 0 40px;
}
.upper_nav p{
    display: inline;
    margin-left: 20px;
}
.upper_nav p a:hover{
    text-decoration: underline;
}
.upper_nav p a{
    color: white;
}
.main_nav{
    background-color: rgb(33, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px 0;
}
.main_nav div{
    margin: 0px 30px;
}
.nav_first{
    width: 15%;
}
.nav_second{
    width: 70%;
}
.nav_third{
    width: 15%;
}
.main_nav div ul{
    text-align: center;
    padding: 0;
}
.main_nav div ul li{
    display: inline;
    padding: 9px 15px;
    margin: 0 25px;
}
.main_nav div ul li:hover{
    background-color: rgb(49, 50, 49);
    border-radius: 50px;
}
.main_nav div ul li img{
    width: 13px;
    padding-left: 5px;
    transition: transform .1s linear 0.2s;
}
.main_nav div ul li:hover img{
    transform: rotate(-180deg);
}
.main_nav div img{
    width: 60%;
}
.main_nav div p{
    margin: 0;
    color: black;
    padding: 9px 15px;
    border-radius: 50px;
    float: right;
    width: fit-content;
    background-color: rgb(112, 244, 104);
}
.main_nav div p img{
    width: 13px;
    padding-left: 5px;
    transition: transform .1s linear 0.2s;
}
.main_nav div p:hover{
    background-color: rgb(89, 170, 86);
}
.main_nav div p:hover img{
    transform: rotate(-180deg);
}
.nav_line{
    width: 100%;
    height: 3px;
    background-color: rgb(51, 52, 52);
}
header{
    margin: 80px 0;
}
header img{
    width: 9%;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}
.title{
    background-color: rgb(112, 244, 104);
    width: fit-content;
    margin: 0 auto;
    font-size: 4rem;
    font-family: 'Dela Gothic One', cursive;
    padding: 0 5px;
}
.payment h2{
    text-align: center;
    color: rgb(112, 244, 104);
}
.button button{
    display: block;
    margin: 0 auto;
    border: none;
    appearance: none;
    background-color: inherit;
    cursor: pointer;
}
.button img{
    margin: 0 auto;
    display: block;
    width: 25px;
    margin-top: 25px;
    padding: 20.4375px 15px;
    transition: transform .1s linear .2s;
}
.button img:hover{
    background-color: rgb(112, 244, 104);
    border-radius: 50%;
}
#dropdown_content{
    display: none;
    margin: 0 auto;
    text-align: center;
}
form{
    margin: 25px 0;
}
form input{
    margin: 10px 0;
    width: 25%;
    height: 40px;
    border-radius: 50px;
    border: 2px solid rgb(120, 120, 115);
    background-color: inherit;
    padding: 0 20px;
    color: white;
}
form input:focus{
    outline: none;
    border: 2px solid rgb(112, 244, 104);
}
#name{
    opacity: 0;
    animation: float .5s ease-out;
    animation-fill-mode: forwards;
}
#number{
    opacity: 0;
    animation: float .5s ease-out;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}
#cv{
    opacity: 0;
    animation: float .5s ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
#submit{
    opacity: 0;
    animation: float .5s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    width: 10%;
}
@keyframes float {
    from {opacity: 0;}
    to {opacity: 1;}
}
#submit:hover{
    background-color: rgb(112, 244, 104);
    border: none;
}
#animation{
    margin: 120px 0;
    display: none;
    justify-content: center;
    position: relative;
    top: -200px;
}
#animation div{
    position: relative;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(120, 120, 115);
    border-radius: 50%;
}
#animation div:nth-child(1){
    animation: popping 1.5s;
    animation-iteration-count: 2;
}
#animation div:nth-child(2){
    animation: popping 1.5s;
    animation-delay: 0.3s;
    animation-iteration-count: 2;
}
#animation div:nth-child(3){
    animation: popping 1.5s infinite;
    animation-delay: 0.6s;
    animation-iteration-count: 2;
}
@keyframes popping{
    0% {top: 0px;}
    50% {top: -50px;}
    100% {top: 0px;}
}
#content{
    display: none;
}
#evolution{
    background-color: rgb(112, 244, 104);
    display: flex;
    color: black;
    padding: 50px 0px;
    margin-bottom: 150px;
}
#evolution h1{
    font-family: 'Dela Gothic One', cursive;
    font-size: 2.6rem;
    text-align: center;
}
#evolution p{
    font-size: 1.7rem;
    text-align: center;
    padding: 0 50px;
}
#evolution div{
    width: 50%;
}
.evolution_img{
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
    top: 60px;
}
.evolution_img img{
    position:absolute;
    left:350px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;    
}
.evolution_img img.bottom{
    top: 16px;
}
.evolution_img img.top:hover{
    opacity:0;
}
.players{
    margin-top: 150px;
}
.players>div{
    display: flex;
    justify-content: space-between;
}
.players div div:first-child{
    width: 40%;
}
.players div div:nth-child(2){
    width: 60%;    
}
.gameplay{
    width: 100%;
}
.card{
    padding-top: 50px;
    width: 22%;
    display: block;
    margin: 0 auto;
}
.players div div:nth-child(2) div{
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 50px;
}
.players div div:nth-child(2) div h2{
    font-size: 2rem;
}
.players div div:nth-child(2) div span{
    font-size: 1.8rem;
}
.players div div:nth-child(2) div img{
    width: 80px;
    margin-top: 30px;
}
.players div div:nth-child(2) div span{
    position: relative;
    top: -35px;
    padding-left: 10px;
}
.players div div:nth-child(2) div div{
    position: relative;
    top: 30px;
    width: 100%;
    height: 2px;
    background-color: rgb(51, 52, 52);

}